<h3>Select from Drop Down List for detailed view of a country</h3>
<form>
    <select id="orgs" onChange="Org()">
        <option value="world">World Map</option>
        <option value="mex">Mexico</option>
        <option value="usa">United States</option>
        <option value="fra">France</option>
        <option value="rus">Russia</option>
        <option value="uk">United Kingdom</option>
        <option value="nee">Netherlands</option>
        <option value="aus">Australia</option>
        <option value="saf">South Africa</option>
    </select>
</form>
<div id="map">
    <div id="newMap"></div>
</div>